
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;  
}

#root{
    background: #ebf7ff;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
	background-clip: content-box;
	border: 5px solid transparent;
	border-radius: 5px;
    
    background-color: #04193d;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}